<!DOCTYPE html>
<head>
    <style>  
        body  {  
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Olympic_rings_without_rims.svg/1920px-Olympic_rings_without_rims.svg.png");  
            background-color: #ffffff;
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }  
    </style>  
    <title> Olympics App </title>
</head>

<body>
<left>
    <a href="{% url 'HomePage' %}">
        <button>HomePage</button>
    </a>
</left>

<left>
    <a href="{% url 'showLeaderboard' %}">
        <button>Leaderboard Database</button>
    </a>
</left>

<left>
    <a href="{% url 'insertLeaderboard' %}">
        <button>Insert Leaderboard</button>
    </a>
</left>

    <center>
        <h1 style="color:rgb(33, 69, 233); margin-top: 100px; font-size: 26px;"> Edit Leaderboard Records </h1>
    </hr>
    
        <form method="POST" action="/updateLeaderboard/{{Leaderboard.country_id}}">
            {% csrf_token%}
        <table border="1" bgcolor="lightblue">
            <tr>
                <td> Country ID </td>
                <td><input type="text" name="country_id" value="{{Leaderboard.country_id}}" readonly></td>
            </tr>
            <tr>
                <td> Country Name </td>
                <td><input type="text" name="country_name" value="{{Leaderboard.country_name}}"></td>
            </tr>
            <tr>
                <td> Gold Medals </td>
                <td><input type="text" name="gold_medals" value="{{Leaderboard.gold_medals}}"></td>
            </tr>
            <tr>
                <td> Silver Medals </td>
                <td><input type="text" name="silver_medals" value="{{Leaderboard.silver_medals}}"></td>
            </tr>
            <tr>
                <td> Bronze Medals </td>
                <td><input type="text" name="bronze_medals" value="{{Leaderboard.bronze_medals}}"></td>
            </tr>
            <tr>
                <td> Total Medals </td>
                <td><input type="text" name="total_medals" value="{{Leaderboard.total_medals}}"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Update Record"></td>
                <td>
                    {% if messages %}
                    {% for mess in messages %}
                    <b style="color: red;">{{mess}}</b>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        </form>
    </center>
</body>
</html>