<!DOCTYPE html>
<head>
    <style>  
        body  {  
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Olympic_rings_without_rims.svg/1920px-Olympic_rings_without_rims.svg.png");  
            background-color: #ffffff;
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }  
    </style>  
    <title> Olympics App </title>
</head>

<body>
<left>
    <a href="{% url 'HomePage' %}">
        <button>HomePage</button>
    </a>
</left>

<left>
    <a href="{% url 'showAthlete' %}">
        <button>Athlete Database</button>
    </a>
</left>

<left>
    <a href="{% url 'insertAthlete' %}">
        <button>Insert Athlete</button>
    </a>
</left>

    <center>
        <h1 style="color:rgb(33, 69, 233); margin-top: 75px; font-size: 30px;"> Edit Athlete Record </h1>
    </hr>
    
        <form method="POST" action="/updateAthlete/{{Athlete.athlete_id}}">
            {% csrf_token%}
        <table border="1" bgcolor="lightblue">
            <tr>
                <td>Athlete ID</td>
                <td><input type="text" name="athlete_id" value="{{Athlete.athlete_id}}" readonly></td>
            </tr>

            <tr>
                <td>Athlete Name</td>
                <td><input type="text" name="athlete_name" value="{{Athlete.athlete_name}}"></td>
            </tr>

            <tr>
                <td>Gender</td>
                <td><input type="text" name="gender" value="{{Athlete.gender}}"></td>
            </tr>

            <tr>
                <td>Height</td>
                <td><input type="text" name="height" value="{{Athlete.height}}"></td>
            </tr>
            <tr>
                <td>Weight</td>
                <td><input type="text" name="weight" value="{{Athlete.weight}}"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" name="age" value="{{Athlete.age}}"></td>
            </tr>
            <tr>
                <td>Sport</td>
                <td><input type="text" name="sport" value="{{Athlete.sport}}"></td>
            </tr>
            <tr>
                <td>Country</td>
                <td><input type="text" name="country" value="{{Athlete.country}}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update Record"></td>
                <td>
                    {% if messages %}
                    {% for mess in messages %}
                    <b style="color: red;">{{mess}}</b>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        </form>
    </center>
</body>
</html>